<h2>Show merchant</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @merchant.name %>
  </li>

</ul>

<%= link "Edit", to: merchant_path(@conn, :edit, @merchant) %>
<%= link "Delete", to: merchant_path(@conn, :delete, @merchant), method: :delete, data: [confirm: "Are you sure?"] %>
<%= link "Back", to: merchant_path(@conn, :index) %>
