<table class="table">
  <%= for %{cells: cells} <- @diff_view do %>
    <tr>
      <%= for %{content: content, rowspan: rowspan} <- cells do %>
        <td rowspan="<%= rowspan %>"> <%= content %> </td>
      <% end %>
    </tr>
  <% end %>
</table>
