<h3>Unmatched but with fitting expense</h3>
<%= render "statement_lines_by_month.html", statement_lines: @unmatched_but_with_possible_expense, conn: @conn %>

<h3>Unmatched and without fitting expense</h3>
<%= render "statement_lines_by_month.html", statement_lines: @unmatched_without_possible_expense, conn: @conn %>
