<h2>Show payment method</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @payment_method.name %>
  </li>

</ul>

<%= link "Edit", to: payment_method_path(@conn, :edit, @payment_method) %>
<%= link "Delete", to: payment_method_path(@conn, :delete, @payment_method), method: :delete, data: [confirm: "Are you sure?"] %>
<%= link "Back", to: payment_method_path(@conn, :index) %>
