<h2>New expense</h2>

<%= render "form.html", changeset: @changeset,
                        merchants: @merchants,
                        payment_methods: @payment_methods,
                        action: expense_path(@conn, :create) %>

<%= link "Back", to: expense_path(@conn, :index) %>
