<h2>Show expense</h2>

<ul>

  <li>
    <strong>Time of sale:</strong>
    <%= @expense.time_of_sale %>
  </li>

  <li>
    <strong>Merchant:</strong>
    <%= @expense.merchant_id %>
  </li>

  <li>
    <strong>Payment method:</strong>
    <%= @expense.payment_method_id %>
  </li>

  <li>
    <strong>Amount in cents:</strong>
    <%= @expense.amount_in_cents %>
  </li>

</ul>

<%= link "Edit", to: expense_path(@conn, :edit, @expense) %>
<%= link "Back", to: expense_path(@conn, :index) %>
